h1 {
  border-style: solid;
    border-color: #001E24;
    border-top: 30px;
    border-bottom: 30px;
    border-left: 50px;
    border-left: 50px;
    background-color: #53C0FB;
    color: white;
    text-align: center;
}

.marco {
  border-style: groove;
    border-color: #001E24;
    text-align: right;
    border-width: 30px;
    border-radius: 5px;
    background-color: #53C0FB;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
  color: white;
    text-align: justify;
    font-size: medium;
}

p {
  color: antiquewhite;
}