main .container{
  background-color: #00303A;
      box-sizing: border-box;
}
#productos-lista{
  background-color: #00303A;
  padding-bottom: 2rem;
}

.product-list-item{
  background-color: #003F4B; /* color de fondo */
  color: white;
  border: 4px solid #29636E;
  border-radius: 10px;    
  padding: 1rem;         
  margin: 2rem
}

.titulo{
  text-align: center; 
  color: white;
  margin-top: 2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
    margin-top: 2rem;
}
.right{
    display: flex;
    justify-content: space-between;
}

.product-list-item .col {
  display: flex;
  flex-direction: column;
}

.cost {
  margin-top: auto;    
  align-self: flex-end; 
}

.filtros{
    display: flex;
    justify-content: flex-end;    
    align-self: flex-end; 
    color: #B0BEC5;
    margin-right: 10%; 
    appearance: none;
     background-color: none;
      text-decoration: none;
      -webkit-appearance: none;
      
}
#miCombobox{
  background-color: #00303A;
  color: #B0BEC5;;
  border: none;
  margin-left: 0.1rem;
  font-family: 'Verdana', serif !important;
}

.filtroTitulo{
    font-size: 1rem;
    margin: 0 0;
}

