/* Estilos para el cuadro general que contiene a los demás elementos en su interior*/
.product-info-container {
    background-color: #00303A !important;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 185px;
    margin-right: 185px;
    padding: 22px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

/* Aquí está contenido el estilo de tanto el título del producto, como de la cantidad vendida y el precio de forma tal que queden a la misma altura en el container general*/
.info-producto {
    background-color: #00303A;
    color: #f0f8ff;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 22px;
}

/*Este cuadro aparte funciona para lograr que la cantidad de productos vendidos y su precio queden de acuerdo al Figma dentro de un recuadro independiente*/
.precio-vendidos {
    display: flex;
    width: 50%;
    justify-content: space-between;
    background-color: #003F4B;
    border: 2px solid #29636E;
    border-radius: 10px; 
    padding: 10px; 
}

/* La galería en sus diferentes clases permiten, entre otras cosas, que las imagenes se encuentren por debajo de la palabra "Galería", que tenga la animación al paar por arriba de cada image, y que éstas estén alineadas*/
.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
     gap:12px;
    justify-content: start;
}

.content-galery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #003F4B;
    margin-top: 0px !important;
    border: 2px solid #29636E;
    border-radius: 10px;  
    padding: 20px; 
}

.galeria-imagenes img {
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #a4c4ca;
    background: #fff;
    transition: box-shadow 0.2s;
}

.galeria-imagenes img:hover {
    box-shadow: 0 0 8px #a4c4ca;
}

/*En el título lo principal fue lograr que quede centrado dentro del info-producto y no centrado respecto al container principal*/
h4 {
    color: #f0f8ff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: none;
    border: none;
    border-radius: 0;
    display: block;
}

.title {
    width: 50%;
    text-align: center;
}


.descripcion {
    background-color: #003F4B;
    border-radius: 10px;
    color: #f0f8ff;
    margin-bottom: 0px !important;
    padding: 20px;
    border: 2px solid #29636E;
}

.descripcion-titulo {
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
}

.galeria {
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
}

.text-muted {
    color: #cae3f8 !important;
}

.float-end a {
  color: #01171b;
  text-decoration: underline;
  transition: color 0.2s;
}

.float-end a:hover,
.float-end a:focus {  /*esto permite qe al pasar el mouse por encima del link, cambie de color*/
    color: #e8f3f5;
    background: none;
}

a[target="_blank"] {
    color: #01171b !important;
    text-decoration: underline;
    padding: 6px 12px;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s;
    display: inline-block;
}

a[target="_blank"]:hover,  /*los atributos con target="_blank" o si tienen la clase .text-muted cambian de color al pasar por arriba con el mouse cambien de color*/
a[target="_blank"]:focus,
a[target="_blank"].text-muted:hover,
a[target="_blank"].text-muted:focus {
    color: #e8f3f5 !important;
    background: none !important;
}

.descripcion {
    background-color: #003F4B;
    color: #f0f8ff;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}

.content-related-products {
    background: #003F4B;
    margin-top: 0px !important;
    border: 2px solid #29636E;
    border-radius: 10px;  
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.content-related-products img {
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #a4c4ca;
    background: #fff;
    transition: box-shadow 0.2s;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 0px 12px;
    justify-content: start;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.title-related-products{
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold; 
    display: flex;
    width: 100%;
}

.name-related-product {
    color: #f0f8ff;
    font-weight: 500; 
}

textarea{
    background:#3c747e !important;
    border: 1px solid #82a3a9 !important;
}

textarea::placeholder {
  color: white !important;   
  opacity: 1;    
}

.stars {
      font-size: 30px;
      color: orange;
    }
    .star {
      cursor: pointer;
    }
    .star.inactive {
      color: gray;
    }

.btn-group .btn-light {
    color: #f0f8ff !important;
    background-color: #027084 !important;
    border: 1px solid #027084 !important;
    padding: 6px 12px !important;
    cursor: pointer !important;
    border-radius: 4px;
}

.btn-group .btn-light:hover,
.btn-group .btn-light:focus,
.btn-group .btn-light.active {
    background-color: #a4c4ca !important;
    color: #003F4B !important;
}

.btn-group .btn-light:hover,
.btn-group .btn-light:focus,
.btn-group .btn-light.active {
    background-color: #a4c4ca !important;
    color: #003F4B !important;
}

@media (max-width: 1200px) {
    .product-info-container {
        margin: 0px;
        padding: 22px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .precio-vendidos {
        display: flex;
        flex-direction: column;
        font-size: medium;
    }

    h4{
        font-size: 25px !important;
    }

    .galeria-imagenes{
        justify-content: center;
    }
    
    .products-wrapper{
        justify-content: center; 
    }
}