h2 {
    color:#f0f8ff;
    font-weight: bold;
}

.lead {
    color:#f0f8ff;
}

.font-weight-normal.text-end.my-2 {
    color: #f0f8ff;
}

#rangeFilterCountMin, #rangeFilterCountMax {
    color: #003F4B;
    background-color: #a4c4ca;
}

.list-group {
    background-color: #003F4B !important;
    border-radius: 10px;
}

.list-group-item {
    background-color: transparent !important;
    color:#f0f8ff;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #a4c4ca !important;
    color: #003F4B !important;
}

#rangeFilterCount {
    background-color: #003f4b !important;
    border-color: #003f4b !important;
    color: #f0f8ff !important;
    padding: 6px 12px !important;
    cursor: pointer !important;
}

#rangeFilterCount:hover, #rangeFilterCount:focus {
    background-color: #a4c4ca !important;
    color: #003F4B !important;
}

#clearRangeFilter {
    color: #f0f8ff !important;
    padding: 6px 12px;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s;
}

#clearRangeFilter:hover, #clearRangeFilter:focus {
    color: #a4c4ca !important;
    background: none !important;
}

.btn-group .btn-light {
    color: #f0f8ff !important;
    background-color: #003f4b !important;
    border: 1px solid #003f4b !important;
    padding: 6px 12px !important;
    cursor: pointer !important;
    border-radius: 4px;
}

.btn-group .btn-light:hover,
.btn-group .btn-light:focus,
.btn-group .btn-light.active {
    background-color: #a4c4ca !important;
    color: #003F4B !important;
}

.text-muted {
    color: #cae3f8 !important;
}

.float-end a {
  color: #01171b;
  text-decoration: underline;
  transition: color 0.2s;
}

.float-end a:hover,
.float-end a:focus {
    color: #e8f3f5;
    background: none;
}

a[target="_blank"] {
    color: #01171b !important;
    text-decoration: underline;
    padding: 6px 12px;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s;
    display: inline-block;
}

a[target="_blank"]:hover,
a[target="_blank"]:focus,
a[target="_blank"].text-muted:hover,
a[target="_blank"].text-muted:focus {
    color: #e8f3f5 !important;
    background: none !important;
}

